# Python virtual env
venv/
venv311/

# Node
frontend/node_modules/

# Python cache

__pycache__/
*.pyc

# Env
.env

# DB
db.sqlite3

*.json

backend/app/views.py
backend/backend/settings.py
backend/app/testing.py