<!DOCTYPE html>
<html>
<head>
    <title>Update College</title>
    <!-- Include jQuery UI CSS for the date picker (optional) -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <!-- Include jQuery library (required for the date picker) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function() {
            // Apply datepicker to dtm_start and dtm_end fields
            $("input[name='dtm_start']").datepicker({ dateFormat: 'yy-mm-dd' });
            $("input[name='dtm_end']").datepicker({ dateFormat: 'yy-mm-dd' });
        });
    </script>
</head>
<body>
    <h1>Update Training schedule</h1>
   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <label for="remarks_file">Upload File for Training schedule:</label>
    <input type="file" name="remarks_file">
      

    <button type="submit">Update</button>
</form>

</body>
</html>
